name: Deploy to OVH via FTP 
on: 
  push: 
    branches: 
      - master
jobs: 
  ftp-deploy:
    runs-on: ubuntu-latest 
    steps: 
      - name: Checkout code
        uses: actions/checkout@v3 
      - name: Install dependencies 
        run: npm install --legacy-peer-deps
      - name: Build React app 
        run: |
          export NODE_OPTIONS=--openssl-legacy-provider
          npm run build
      - name: Upload to OVH hosting via FTP 
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4 
        with: 
          server: ${{ secrets.FTP_HOST }} 
          username: ${{ secrets.FTP_USERNAME }} 
          password: ${{ secrets.FTP_PASSWORD }} 
          local-dir: "./build/" 
          server-dir: "www"
